#main
  - form_for @search do |f|
    = f.label :term
    = f.text_field :term
    = f.submit 'Search'
  #searches
  #results

#search-template.template
  <%= term %>
  
#tweet-template.template
  .user
    <%= from_user %>
  .body
    <%= text %>
